.card {
    overflow: hidden;
    transition: transform 0.2s;
}



.card:hover {
    transform: scale(1.05);
}

.second-button{
    background-color: rgb(204, 0, 0);
    &:hover {
        background-color: rgb(93, 0, 0);
    }
}