.person-card
{
    width: 20rem;
}

.person-card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Yatayda ortalar */
}
.person-card .card-img-top {
    height: 300px; /* Tüm resimler için sabit bir yükseklik belirleyin */
    object-fit: cover; /* Resmin en-boy oranını koruyarak alanı kaplamasını sağlar */
    width: 100%;
}

.linkedin-icon {
    transition: transform 0.2s; 
    &:hover {
        transform: scale(1.25);
    }
}